<!DOCTYPE html>
<html class="fuelux" lang="en">

<head>
    <%-include('../partials/_headFront')%>
</head>

<body id="frontOffice" style="background-image: url('/img/geometry2.png');" >
<%-include('../partials/_navbarFront')%>
<%- body -%>

<section class="my-5" style="width: 100%; bottom: 0; left: 0; height: 70px;">
    <%-include('../partials/_footerFront')%>
</section>
</body>
<%-include('../partials/_scripts')%>

</html>
