<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('../partials/_headFront')%>
</head>

<body id="frontOffice" style="background-color: #fff">
<%-include('../partials/_navbarFront')%>
<%- body -%>

<section class="my-5">
    <%-include('../partials/_frontFooter')%>
</section>
</body>
<%-include('../partials/_scripts')%>

</html>