<!-- LAYOUT Básico para o backoffice quando o user está conectado, inclui top-navbar e boilerplate -->

<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('../partials/_head')%>
</head>

<body class="fuelux" id="painel">

  <%-include('../partials/_navbar')%>

    <%- body -%>

      <section class="my-5">
        <%-include('../partials/_footer')%>
      </section>
</body>
<%-include('../partials/_scripts')%>

</html>
