<header id="main-header" class="pt-3 text-white" style="background-color: #236475">
  <!-- //TODO: Passar isto para navbar -->
  <div class="container">
    <div class="row">
      <div class="col-xs-4 col-sm-5 col-md-4 col-lg-3">
        <h1>
          <i class="fa fa-tachometer"></i> Painel
        </h1>
      </div>
      <div class="col-xs-2 col-sm-4 col-md-4 col-lg-3 mt-1">
        <!-- TODO: Ao clicar nas notificações é feito um pedido para gerar as X novas notificações que tem (comentários/ edits etc) na dashboard -->
        <button type="button" class="btn btn-primary">
          Notificações <span class="badge badge-light"><%= posts.length %></span>
        </button>
      </div>
      <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2 my-1 offset-xs-6 offset-sm-0 offset-md-2 offset-lg-4">
        <button class="btn btn-primary" onclick="changeGrid();" style="border-radius: 50%;">
          <i  data-toggle="tooltip" data-placement="bottom" title="Alterar Disposição do Painel" class="fa fa-columns" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="action" class="py-4 mb-4">
  <div class="container">
    <%-include('./partials/_msg')%>
  </div>
</section>
<%-include('./partials/_dashboard')%>


<!-- The scroll to top feature -->

<div class="scroll-top-wrapper">
  <span class="scroll-top-inner">
              <i class="fa fa-2x fa-arrow-circle-up"></i>
            </span>
</div>

<!-- MODALS (ADD POST; ADD CATEGORY)  ADICIONAR NO FUTURO-->
<div class="modal fade" id="addPostModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="addPostModalLabel">Adicionar Postagem</h5>
        <button class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/posts/add" class="mx-3 my-3" enctype="multipart/form-data">
          <div class="form-group">
            <label for="title" class="form-control-label">Título</label>
            <input type="text" class="form-control" name="title" id="title" required>
          </div>
          <div class="form-group">
            <label for="category" class="form-control-label">Categoria</label>
            <select name="category" class="form-control">
                        <option value=""></option>
                        <%for(let i = 0; i < categories.length; i++){%>
                          <option value="<%= categories[i].name%>"><%= categories[i].name%></option>
                          <%}%>
                        </select>
          </div>
          <div class="form-group bg-faded p-3">
            <label for="file">Anexar ficheiros ao post</label>
            <input type="file" name="filetoupload" value="" class="form-control-file" id="file" multiple>
            <small id="fileHelp" class="form-text text-muted">Tamanho máx 3MB</small>
          </div>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" checked name="checkComments" id="checkComments">
            <label class="form-check-label" for="defaultCheck1">
                          Permitir comentários
                        </label>
          </div>

          <div class="form-group">
            <label for="body">Texto</label>
            <textarea name="textarea" class="form-control" rows="3" required></textarea>
          </div>
      </div>
      <%
                    var d = new Date();
                    var data = d.getUTCDate()
                    %>

        <div class="modal-footer">
          <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button class="btn btn-primary" value="">Adicionar Postagem</button>
        </div>
        </form>

    </div>
  </div>
</div>

<!-- MODALS (ADD CATEGORY)  -->
<div class="modal fade" id="addCategoryModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="addPostModalLabel">Adicionar Categoria</h5>
        <button class="close" data-dismiss="modal"><span>&times;</span></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/categories/add">
          <div class="form-group">
            <label for="title" class="form-control-label">Nome da nova categoria</label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Nome">
          </div>
          <div class="modal-footer">
            <button class="btn btn-danger" data-dismiss="modal">Fechar</button>
            <input class="btn btn-primary" type="submit" value="Adicionar categoria" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- TODO: este script só interessa se o modal estiver funcional...  -->
<script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
<script>
  CKEDITOR.replace('textarea');
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
