<!-- Page Content -->
<div class="container" id="inicio" style="margin-top: 5rem;">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="display-3 mb-3">
                <small>Um blog para todos!</small>
            </h1>

            <!-- Blog Post -->
            <% moment.locale('pt_PT')%>
            <%if(posts.length > 0){%>
            <%for(let i = 0; i < posts.length; i++){%>
            <div class="card mb-4 post" style="background-color: #D9ECF2">
                <div class="card-body">
                    <h2 class="card-title titulo"><%=posts[i].title%></h2>
                    <% if(posts[i].body.length > 300){
                        let smallText = posts[i].body;
                        smallText = smallText.substring(0,300)+'...</p>';
                    %>
                    <p class="postBody"><%- smallText%></p>
                    <%} else {%>
                    <p class="postBody"><%- posts[i].body+'</p>' %></p>
                    <%}%>
                    <%if(posts[i].url_title !== undefined){%>
                    <a href="/post/<%= posts[i].url_title%>" class="btn btn-primary" style="background-color: #03A5A7">Ler mais &rarr;</a>
                    <%} else {%>
                    <a href="/post/<%= posts[i]._id%>" class="btn btn-primary" style="background-color: #03A5A7">Ler mais &rarr;</a>
                    <%}%>
                </div>
                <div class="card-footer text-muted">
                    Postado em <%= moment(posts[i].date).format('MMMM DD, YYYY') %> por <%= posts[i].user.name%>
                </div>
            </div>
            <%} } else {%>
                Não existem postagens no blog.
            <%}%>

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#">&larr; Anterior</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Seguinte &rarr;</a>
                </li>
            </ul>

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4" style="margin-top: 5rem">

            <!-- Search Widget -->
            <div class="card my-4" style="background-color: #226575" id="procurar">
                <h5 class="card-header" style="color: white">Procurar</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" id="searchBox" class="form-control" placeholder="Procurar por...">
                        <span class="input-group-btn">
                </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <%-include('../partials/_categories')%>

            <!-- Search from date Widget -->
            <%-include('../partials/_searchDate')%>

            <!-- Side Widget -->
            <div class="card my-4" style="background-color: #226575" id="desc">
                <h5 class="card-header" style="color: white">Descrição</h5>
                <div class="card-body" style="color: lightgray">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
