<!-- Page Content -->
<style>
    .page {
        display: none;
    }
    .page-active {
        display: block;
    }
</style>

<div class="container" id="inicio" style="margin-top: 5rem;">


              <h3 class="mb-3">
                  B.Log Oficial
              </h3>

    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-4">

            <!-- Blog Post -->
            <% moment.locale('pt_PT')%>
            <%if(posts.length > 0){%>
            <%let j = 1;%>
            <%for(let i = 0; i < posts.length; i++){%>
            <%let k = 0;%>
            <div class="page" id="page<%=j%>">
            <% while(k<2 && i < posts.length){%>
                <div class="card mb-4 post" style="background-color: #D9ECF2">
                    <div class="card-body">
                        <h2 class="card-title titulo"><%=posts[i].title%></h2>
                        <% if(posts[i].body.length > 300){
                            let smallText = posts[i].body;
                            smallText = smallText.substring(0,300)+'...</p>';
                        %>
                        <p class="postBody"><%- smallText%></p>
                        <%} else {%>
                        <p class="postBody"><%- posts[i].body+'</p>' %></p>
                        <%}%>
                        <%if(posts[i].url_title !== undefined){%>
                        <a href="/post/<%= posts[i].url_title%>" class="btn btn-primary" style="background-color: #03A5A7">Ler mais &rarr;</a>
                        <%} else {%>
                        <a href="/post/<%= posts[i]._id%>" class="btn btn-primary" style="background-color: #03A5A7">Ler mais &rarr;</a>
                        <%}%>
                    </div>
                    <div class="card-footer text-muted">
                        Postado em <%= moment(posts[i].date).format('MMMM DD, YYYY') %> por <%= posts[i].user.name%>
                        <input type="hidden" class="dataPost" value="<%= moment(posts[i].date).format('MM/DD/YYYY')%>">
                    </div>
                </div>
                <%k++; i++%>
            <%}%>
            <%i--;%>
            </div>
            <%j++%>

            <%}%>
            <ul id="pagination-demo" class="pagination justify-content-center mb-4"></ul>
            <%} else {%>
                Não existem postagens no blog.
            <%}%>

            <!-- Pagination -->


        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4" id="procurar">
                <h5 class="card-header bg-dark" style="color: white">Procurar</h5>
                <div class="card-body bg-faded">
                    <div class="input-group">
                        <input type="text" id="searchBox" class="form-control" placeholder="Procurar por...">
                        <span class="input-group-btn">
                </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4" id="categorias">
                <h5 class="card-header bg-dark" style="color: white">Categorias</h5>
                <div class="card-body bg-faded">
                    <div class="row">
                        <%for(let i=0; i < categories.length; i++){%>
                        <div class="col-lg-6">
                            <ul class="list-unstyled mb-0" >
                                <li >
                                    <a style="color: #12170f" href="/categories/<%=categories[i]%>"><%= categories[i]%></a>
                                </li>
                            </ul>
                        </div>
                        <%}%>
                    </div>
                </div>
            </div>

            <!-- Search from date Widget -->
            <%-include('../partials/_searchDate')%>

            <!-- Side Widget -->
            <%-include('../partials/_description')%>

        </div>

    </div>
    <!-- /.row -->

</div>
