<header id="main-header" class="pt-3 text-white" style="background-color: #236475">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-6">
        <h1>
          <i class="fa fa-folder-open-o"></i> Categorias
        </h1>
      </div>
    </div>
  </div>
</header>


<div id="button-grp" class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
  <div class="btn-group">
    <button type="button" class="btn btn-secondary btn-lg mb-5" style="border-radius: 50%;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fa fa-plus"  data-toggle="tooltip" data-placement="top" title="Ações"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right bg-white">
      <button data-toggle="modal" data-target="#addPostModal" class="dropdown-item text-dark" type="button">Adicionar Postagem</button>
      <button class="dropdown-item text-dark" type="button " data-toggle="modal" data-target="#addCategoryModal">Adicionar Categoria</button>
    </div>
  </div>
  <!-- <a href="posts/add" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal"><i class="fa fa-plus"></i> Adicionar Postagem</a> -->
</div>

<%-include('../partials/_msg')%>

  <!-- TABLE AREA -->
  <section id="table-area-section">
    <div class="container">
      <div class="row">
        <div class="col">
            <div class="container table-responsive p-0 my-2">
              <table class="table table-hover table-striped table-info" id="tableCategories">
                <thead class="bg-dark text-white">
                  <tr>
                    <th>#</th>
                    <th>Título</th>
                    <th>Data</th>
                    <th class="text-center">Ação</th>
                  </tr>
                </thead>
                <tbody class="">
                  <% moment.locale('pt_PT')%>
                    <% for(let i=0; i < categories.length; i++){%>
                      <tr scope="row" class="">
                        <td scope="col">
                          <%=i+1%>
                        </td>
                        <td>
                          <%= categories[i].name %>
                        </td>
                        <td>
                          <%= moment(categories[i].date).format('DD MMMM YYYY') %>
                        </td>
                        <td class="text-center">
                          <form action="/categories/delete/<%= categories[i]._id%>?_method=DELETE" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" name="DELETE" class="btn btn-secondary"><i class="fa fa-times"></i></button>
                          </form>
                        </td>
                      </tr>
                      <%}%>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </section>

  <%-include('../partials/_addPost')%>

    <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
    <script>
      CKEDITOR.replace('textarea');
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
