<header id="main-header" class="pt-3 text-white" style="background-color: #236475">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-6">
        <h1>
          <i class="fa fa-users"></i> Utilizadores
        </h1>
      </div>
    </div>
  </div>
</header>

<%-include('../partials/_msg')%>

<!-- TABLE AREA -->
<section id="table-area-section">
  <div class="container">
    <div class="row">
      <div class="col">
          <div class="container table-responsive p-0 my-2">
            <table class="table table-hover table-striped table-dark" id="tableUsers">
              <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Data de registo</th>
                <th>Publicações</th>
              </tr>
              </thead>
              <tbody>
              <% moment.locale('pt_PT')%>
              <%for (let i=0; i < users.length; i++){%>
              <tr>
                <td scope="row"><%=i+1%></td>
                <td><a href="/users/<%= users[i].url_name %>"><%= users[i].name%></a></td>
                <td><%= users[i].email%></td>
                <td><%= moment(users[i].date).format('DD MMMM YYYY') %></td>
                <td class="text-center"><%= postsSize%></td>
              </tr>
              <%}%>
              </tbody>
            </table>
          </div>
    </div>
  </div>
</section>
