<header id="main-header" class="pt-3 text-white" style="background-color: #236475">
  <div class="container">
    <div class="row mb-4">
      <div class="col-md-3 col-lg-3">
        <h1>
          <i class="fa fa-pencil"></i> Postagens
        </h1>
      </div>



      <div class="col-md-4 col-lg-4 mt-1">
        <div class="input-group">
          <input type="text" name="" value="" placeholder="Postagens.." class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-info">
              Procurar
            </button>
          </span>
        </div>
      </div>

      <div class="col-md-2 mt-1 offset-3">
        <button class="btn btn-primary" onclick="changeGrid();" data-toggle="tooltip" data-placement="bottom" title="Alterar Disposição do Painel" style="border-radius: 50%;">
          <i class="fa fa-columns" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="action" class="py-4 mb-4 bg-faded">
  <div class="container">
    <div class="row">
    </div>
</section>

<%-include('../partials/_msg')%>

  <!-- Dashboard AREA -->
  <section id="table-area-section" class="" style="margin-bottom: 7rem;">
    <div class="container">
      <div class="col-md-1 col-lg-1 offset-lg-7 col-sm-12" style="position: fixed;">
        <div><button data-toggle="modal" data-target="#addPostModal" class="btn btn-secondary btn-lg mb-5" style="border-radius: 50%;"><i class="fa fa-plus"  data-toggle="tooltip" data-placement="top" title="Adicionar Postagem"></i></button></div>
      </div>
      <!-- My Posts AREA -->
          <div class="row">

            <div class="col-md-11 col-lg-11">
              <div class="row">
                <%if(posts.length > 0){%>
                  <% for(var i=posts.length-1; 0<=i; i--){ %>
                    <div name="card-grid" class="col-md-6 col-lg-6">
                      <!-- //TODO:PASSAR ISTO PARA DFLEX TÁ SO FEIO COM UMA TABELA LOL -->
                      <% moment.locale('pt_PT')%>
                        <div class="card mb-3" style=" border-color: #93B8C2;">
                          <div id="carets" onmouseup="toggleVisibility(<%= i %>)" class="card-header grad text-white my-0 py-0">
                            <div class="d-flex flex-row justify-content-between">
                              <div class="p-2">
                                <p>
                                  <div class="card-title text-white">
                                    <h4><b><%= posts[i].title %></b></h4></div>
                                  <div class="">
                                    <p>
                                      <span class="text-light ml-auto"><%= moment(posts[i].date).format('DD MMMM YYYY') %></span>
                                    </p>
                                  </div>
                                </p>
                              </div>
                              <div class=" m-4">
                                <a style="text-decoration: none;" class="text-white float-right" href="#">
                                  <%= posts[i].category %>
                                </a>
                                <div class="mt-3">
                                  <a class="text-light  float-right" href="#" style="text-decoration: none;">
                                    <%= posts[i].authorName %>
                                  </a>
                                </div>
                              </div>
                            </div>
                            <div class="text-center">
                              <a><i class="fa fa-angle-double-down"></i></a>
                            </div>
                          </div>
                          <div id="postBody<%=i%>" style="display: none;">
                            <div class="card-block">
                              <div class="d-flex flex-row justify-content-start mx-5 my-3">
                                <div class="">
                                  <%- posts[i].body %>
                                </div>
                              </div>
                              <%if (posts[i].files.length > 0){%>
                                <hr/>
                                <div class="d-flex flex-row justify-content-start mx-5 my-3">
                                  <label for="attached">Ficheiros anexados:</label>
                                  <div class="" id="attached">
                                    <ul>
                                      <%for(let j = 0; j < posts[i].files.length; j++){%>
                                        <li>
                                          <%= posts[i].files[j]%>
                                        </li>
                                        <%}%>
                                    </ul>
                                  </div>
                                </div>
                                <%}%>
                            </div>

                          </div>
                          <div class="card-footer">
                            <div class="d-flex flex-row justify-content-between">
                              <!-- TODO: Se for o autor pode editar a publicação -->
                              <div class="d-block">
                                <a href="/posts/edit/<%= posts[i]._id%>" class="text-dark mt-1" style="text-decoration: none;"><i class="fa fa-angle-double-right"></i> Editar</a>
                              </div>
                              <div class="d-block">
                                <a href="/posts/<%= posts[i]._id %>" class="text-muted mt-1" style="text-decoration: none;"><i class="fa fa-angle-double-right"></i> Comentar</a>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <%} %>
                      <%}else{%>
                        <div class="text-center mt-3">
                          <p>Não foram adicionados nenhums posts :-O</p>
                        </div>
                        <%}%>
              </div>
            </div>
          </div>
      </section>

  <!-- The scroll to top feature -->

  <div class="scroll-top-wrapper">
    <span class="scroll-top-inner">
            <i class="fa fa-2x fa-arrow-circle-up"></i>
          </span>
  </div>



  <!-- MODALS (ADD POST; ADD CATEGORY)  ADICIONAR NO FUTURO-->
  <div class="modal fade" id="addPostModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title" id="addPostModalLabel">Adicionar Postagem</h5>
          <button class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/posts/add" class="mx-3 my-3" enctype="multipart/form-data">
            <div class="form-group">
              <label for="title" class="form-control-label">Título</label>
              <input type="text" class="form-control" name="title" id="title" required>
            </div>
            <div class="form-group">
              <label for="category" class="form-control-label">Categoria</label>
              <select name="category" class="form-control">
                      <option value=""></option>
                      <%for(let i = 0; i < categories.length; i++){%>
                        <option value="<%= categories[i].name%>"><%= categories[i].name%></option>
                        <%}%>
                      </select>
            </div>
            <div class="form-group bg-faded p-3">
              <label for="file">Anexar ficheiros ao post</label>
              <input type="file" name="filetoupload" value="" class="form-control-file" id="file" multiple>
              <small id="fileHelp" class="form-text text-muted">Tamanho máx 3MB</small>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" checked name="checkComments" id="checkComments">
              <label class="form-check-label" for="defaultCheck1">
                        Permitir comentários
                      </label>
            </div>

            <div class="form-group">
              <label for="body">Texto</label>
              <textarea name="textarea" class="form-control" rows="3" required></textarea>
            </div>
        </div>
        <%
                  var d = new Date();
                  var data = d.getUTCDate()
                  %>

          <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            <button class="btn btn-primary" value="">Adicionar Postagem</button>
          </div>
          </form>
      </div>
    </div>
  </div>


  <script type="text/javascript">
    var button = document.getElementById('carets'); // Assumes element with id='button'

    function toggleVisibility(id) {
      $('#postBody' + id).toggle('slow');
    }
  </script>

  <script type="text/javascript">
    function changeGrid() {
      if ($('[name$=card-grid]').hasClass('col-md-12')) {
        console.log('teste');
        $('[name$=card-grid]').attr('class', 'col-md-6 col-lg-6');
      } else {
        $('[name$=card-grid]').attr('class', 'col-md-12 col-lg-12');
      }
    }
  </script>

  <!-- TODO: este script só interessa se o modal estiver funcional...  -->
  <script src="https://cdn.ckeditor.com/4.8.0/standard/ckeditor.js"></script>
  <script>
    CKEDITOR.replace('textarea');
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
