<header id="main-header" class="pt-3 text-white" style="background-color: #236475">
  <div class="container">
    <div class="row mb-4">
      <div class="col-lg-6">
        <h1>
          <i class="fa fa-pencil"></i> Postagens
        </h1>
      </div>
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" name="" value="" placeholder="Postagens.." class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-info">
              Procurar
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- ACTIONS -->
<section id="action" class="py-4 mb-4 bg-faded">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <!-- <a href="posts/add" class="btn btn-primary btn-block" data-toggle="modal" data-target="#addPostModal"><i class="fa fa-plus"></i> Adicionar Postagem</a> -->
        <a href="/posts/add" class="btn btn-secondary btn-block"><i class="fa fa-plus"></i> Adicionar Postagem</a>
      </div>
    </div>
</section>

<%-include('../partials/_msg')%>

  <!-- TABLE AREA -->
  <section id="table-area-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <div class="card border-primary">
            <div class="card-header bg-primary text-white">
              <h4>Suas Últimas Postagens</h4>
              </div>
              <%if(posts.length > 0){%>
                <!-- //TODO:PASSAR ISTO PARA DFLEX TÁ SO FEIO COM UMA TABELA LOL -->

                <div class="d-flex flex-row justify-content-between bg-dark text-white text-center py-3">
                  <div class="ml-5">Título</div>
                  <div class="">Postagem</div>
                  <div class="mr-5">Ações</div>
                </div>


                <% moment.locale('pt_PT')%>
                  <% for(var i=posts.length-1; 0<=i; i--){ %>
                    <div class="d-flex flex-row justify-content-around mx-3 mt-2">
                      <div class="p-2">
                        <%-i+1-%>
                      </div>
                      <div class="p-2">
                        <p>
                          <a class="text-muted" href="#" style="text-decoration: none;">
                            <%= posts[i].category %>
                          </a>
                        </p>
                      </div>
                      <div class="p-2">
                        <b><%= posts[i].title %></b>
                      </div>
                      <div class="p-2">
                        <p>
                          <span class="text-muted ml-auto"><%= moment(posts[i].date).format('DD-MM-YYYY HH:MM:SS') %></span>
                        </p>
                      </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between mx-3 ">
                      <div class="ml-5">
                        <%- posts[i].body %>
                      </div>
                      <div class="text-center mr-5">
                        <div class="text-muted">
                          <a href="#">
                            <%= posts[i].authorName %>
                          </a>
                        </div>

                      </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between mx-5 mb-3 ">
                      <!-- TODO: Se for o autor pode editar a publicação -->
                      <div class="d-block">
                        <a href="/posts/edit/<%= posts[i]._id %>" class="btn border-secondary text-secondary mt-5"><i class="fa fa-angle-double-right"></i> Editar</a>
                      </div>
                      <div class="d-block">
                        <a href="/posts/<%= posts[i]._id %>" class="btn border-secondary text-secondary mt-5"><i class="fa fa-angle-double-right"></i> Comentar</a>
                      </div>
                    </div>
                    <div class="border border-info border-top-0 border-left-0 border-right-0"></div>
                    <%} %>
                      <%}else{%>
                        <div class="text-center mt-3">
                          <p>Não foram adicionados nenhums posts :-O</p>
                        </div>
                        <%}%>
            </div>
          </div>

        <!-- TODO: Paginação ou slide infinito? -->
        <!-- <nav class="ml-4">
          <ul class="pagination">
            <li class="page-item disabled"><a href="#" class="page-link ">Anterior</a></li>
            <li class="page-item active"><a href="#" class="page-link ">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">Próximo</a></li>
          </ul>
        </nav> -->
      </div>
  </section>
